<footer class="footer">
  <div class="grid">
    <div class="grid__row">
      <div class="grid__column-4">
        <h3 class="footer__heading">Giới Thiệu</h3>
        <p class="footer__content">
          <a href="" class="">ReviewCongty.com</a>
          Website đánh giá môi trường làm việc hàng đầu Việt Nam với số
          lượng lớn công ty, doanh nghiệp được cập nhật thường xuyên.
        </p>
        <p class="footer__content">
          <a href="" class="">ReviewCongty.com</a>
          được xây dựng dựa trên cộng đồng đảm bảo tính trung lập khách quan
          với tất cả các nhận xét, review, đánh giá trực tiếp của nhân viên
          về lương thưởng, sếp, quản lý, đồng nghiệp, cơ hội thằng tiến...
        </p>
      </div>
      <div class="grid__column-4">
        <h3 class="footer__heading">Lĩnh Vực</h3>
        <ul class="footer-list">
          <li class="footer-item">
            <a href="" class="footer-item__link">
              <i class="fas fa-angle-right"></i>
              Công nghệ thông tin
            </a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">
              <i class="fas fa-angle-right"></i>
              Tài chính ngân hàng
            </a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">
              <i class="fas fa-angle-right"></i>
              Dịch vụ chuyên nghiệp
            </a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">
              <i class="fas fa-angle-right"></i>
              Chăm sóc khách hàng
            </a>
          </li>
        </ul>
      </div>
      <div class="grid__column-4">
        <h3 class="footer__heading">Liên hệ</h3>
        <p class="footer__content">E-mail: contact@reviewcongty.com</p>
        <h3 class="footer__heading">Xem thêm</h3>
        <a href="" class="footer-item__link">Tra cứu mã số thuế</a>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="grid">
      <p class="footer__text">
        Copyright © 2021. All Rights By ReviewCongty.com.
      </p>
    </div>
  </div>
</footer>