<header class="header">
  <!-- Navigation -->
  <nav class="nav">
    <div class="nav-logo">
      <a href="/"><img src="https://www.reviewcompany.vn/public/media//home/img/logo.png" alt="" /></a>
    </div>

    <ul class="nav-list">
      <a class="nav-item" href="/">
        <li>Trang chủ</li>
      </a>
      <a class="nav-item" href="#">
        <li>Trợ giúp</li>
      </a>
      <a class="nav-item" href="/addCompany">
        <li>Thêm công ty</li>
      </a>
      <a class="nav-item" href="/login">
        <li>Đăng nhập</li>
      </a>
    </ul>
  </nav>


</header>